<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="SubjectMapper">

	<insert id="record" parameterType="com.eteam.gstudy.Group_SubjectDTO">
		insert into group_study
		values
		(g_study_seq.nextval, #{g_Num}, #{m_Id}, sysdate, #{s_Joinmem}, #{s_Title}, #{s_Contents}, #{s_yy}, #{s_mm}, #{s_dd})
	</insert> 

	<select id="search" resultType="com.eteam.groupInfo.Group_JoinDTO">
		select * from group_join where g_num=#{g_num}
	</select>
	
	<select id="listSubject" parameterType="hashmap" resultType="com.eteam.gstudy.Group_SubjectDTO">
		select * from group_study where g_num=#{g_num} and s_yy=#{yy} and s_mm=#{mm} order by s_dd desc 
	</select>
</mapper>