@CHARSET "UTF-8";

.body{
	width:100%;
}

#middle{
	width:100%;
	height:1500px;	
}

#middle_box1{
	width:100%;
	height:594px;
/* 	background-image:url(../../img/common/index/backimg_1.jpg); */
	background-color: darkgrey;
	background-size:100%;

	
}

#middle_box2{
	width:100%;
	height: 460px;
	background-color: white;
}

#middle_box3{
	width:100%;
	height: 460px;
	background-color: white;
}

#search_box{
	width: 26%;
 	padding-top: 12%;
	height:374px;
	margin:0 auto;
}


.btn-group{
	margin-left:1%;
}

.spanfont{
	color:#ef8245;
}

#fonttype{
	color:#ef8245;
}

.form-control{
	height: 39px;
	color:#ef8245;
}


.img_box{
	width: 100%;
	height: 230px;
	padding-top:5%;
}

.placeimg{
	width:60%;
	margin:0 auto;
}

.place{
	margin-right:14%;
	float:left;
}

.img-circle{
	width:200px;
	height:200px;
}

.txt_box{
	width:100%;	
	height: 95px;
	 padding-top: 5%;
}



.txt_font{
	width:240px;
	margin:0 auto;
	}
	
#txt_sub{
	width:23%;
	margin:0 auto;
}

