@CHARSET "UTF-8";
#footer_back{
  /*   position: absolute;
	width: 100%; */
	height: 50px;
	background-color: rgb(246,246,246);
}
#footerbar{
	width: 100%;
	height: 20%;
	background-color: ivory;
}

#footer_back .container{
	margin-top: 10px;
}
#footer_logo{
	float: left;
    height: 100px;
}
#footer_message{
	float: left;
	margin-left: 1%;
}